.profile {
    display: flex;
    align-items: center;

    gap: 2rem;

    margin-bottom: 3rem;
    padding-block: 1.5rem;
    /* border-block: 2px solid var(--accent); */
    color: var(--secondary);


    border-width: 10px;
    border-style: solid;
    border-image:
        linear-gradient(to right, var(--primary-dark) -10%, var(--accent) 30%, rgb(242, 255, 129) 50%, var(--accent) 70%, var(--primary-dark) 110%) 1/ 2px 0 / 0 round;

}

.profile img {
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px 8px 0px 0px #18013a, -4px -4px 0px 0px #5202cb, 0 0 50px 0px #18013a;
}